{% extends 'myapp/base.html' %}
{% block body %}
    <div class="flex p-10  justify-center items-center min-h-screen">
        <div>
            <img class="h-180 w-180" src="{{ product.file.url }}">
        </div>
        <div class="pl-10">
            <div class="text-4xl mb-4">
                {{ product.name }}
            </div>
            <div class="mb-4">
                {{ product.description }}
            </div>
            <div class="mb-4 text-green-700 font-bold">
                {{ product.price }}€
            </div>
            <div>
                <button id="checkout-button" class="bg-green-500 text-white px-4 py-2 rounded-sm">Buy</button>
            </div>
            <div id="myemail" hidden="hidden">{{request.user.email}}</div>
            </div>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    const csrfToken = '{{ csrf_token }}';
    </script>
    <script type="text/javascript">
    const stripe = Stripe('{{ stripe_publishable_key }}');
    
    const checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', async () => {
        const email = document.getElementById('myemail')?.innerText?.trim();

        if (!email) {
            alert("Please log in to continue or provide an email.");
            return;
        }

        const response = await fetch("{% url 'api_checkout_session' id=product.id %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({
                email: email
            })
        });

        const result = await response.json();

        if (result.error) {
            alert("Checkout failed: " + result.error);
        } else {
            stripe.redirectToCheckout({
                sessionId: result.sessionId
            }).then(function (res) {
                if (res.error) {
                    alert(res.error.message);
                }
            });
        }
    });
</script>

{% endblock %}

