{% extends 'myapp/base.html' %}
{% block body %}
<div class="flex justify-between">
    <div class="ml-20 mt-10 font-bold text-xl">My Orders</div>
</div>
<div class="order-container p-10 m-5 shadow-lg">
    <div class="order-header flex m-5 p-2">
        <div class="w-1/4">
            Product Name
        </div>
        <div class="w-1/4">
            Buyers Address
        </div>
        <div class="w-1/4">
            Order Date
        </div>
        <div class="w-1/4">
            Buyers e-mail
        </div>
    </div>
    <hr>
    {% for order in orders %}
    <div class="flex m-5 p-2">
        <div class="w-1/4">
            {{ order.product.name }}
        </div>
        <div class="w-1/4">
            {{ order.customer_address }}
        </div>
        <div class="w-1/4">
            {{ order.created_on }}
        </div>  
        <div class="w-1/4">
            {{ order.customer_email }}
        </div>    
    </div>
    {% endfor %}
</div>
{% endblock %}