<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="shadow-lg">
        <div class="flex flex-wrap  justify-between ml-5 items-center mx-auto px-4 py-2.5">
            <a href="{% url 'index' %}" class="flex itens-center">
                <img class="h-9 mr-3" src="https://cdn0.iconfinder.com/data/icons/winter-lollipop/128/Cart.png" alt="">
                <span class="self-center text-xl font-semibold">Digital Marketplace</span>
            </a>
            <div class="flex items-center">
                {% if request.user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="mr-6 text-sm font-medium text-grey-500">Dashboard</a>
                <a href="{% url 'sales' %}" class="mr-6 text-sm font-medium text-grey-500">Sales</a>
                <a href="{% url 'orders' %}" class="mr-6 text-sm font-medium text-grey-500">Orders</a>
                <a href="{% url 'createproduct' %}" class="mr-6 text-sm font-medium text-grey-500">Create Products</a>
                <a href="{% url 'purchases' %}" class="mr-6 text-sm font-medium text-grey-500">My Purchases</a>
                <a class="mr-6 text-sm font-medium text-grey-500" href="{% url 'logout' %}">Logout</a>
                {% elif not request.user.is_authenticated and request.path != '/login/' %}
                    <a class="mr-6 text-sm font-medium text-grey-500" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="flex flex-col justify-center items-center min-h-screen">
        <h1 class="font-bold text-lg">Register</h1>
        <form class="shadow-lg p-10" method="POST">
            {% csrf_token %}
            <div class="mb-2">
                <div class="mb-2">
                    <label>First Name</label>
                    <div class="border rounded py-2 px-2 mr-10">
                        {{ user_form.first_name }}
                    </div>
                </div>
                <div class="mb-2">
                    <label>Last Name</label>
                    <div class="border rounded py-2 px-2 mr-10">
                        {{ user_form.last_name }}
                    </div>
                </div>
                <label>Username</label>
                <div class="border rounded py-2 px-2 mr-10">
                    {{ user_form.username }}
                </div>
            </div>
            <div class="mb-2">
                <label>Email</label>
                <div class="border rounded py-2 px-2 mr-10">
                    {{ user_form.email }}
                </div>
            </div>
            <div class="mb-2">
                <label>Address</label>
                <div class="border rounded py-2 px-2 mr-10">
                    {{ user_form.address }}
                </div>
            </div>
            <div class="mb-2">
                <label>Password</label>
                <div class="border rounded py-2 px-2 mr-10">
                    {{ user_form.password }}
                </div>
            </div>
            <div class="mb-2">
                <label>Confirm Password</label>
                <div class="border rounded py-2 px-2 mr-10">
                    {{ user_form.password2 }}
                </div>
            </div>
            <button class="bg-green-500 text-white px-4 py-2 rounded" type="submit">Create user</button>
        </form>
        <p class="m-10">Already registered? <span><a class="text-indigo-500" href="{% url 'login' %}">Click here</a> to login!</p></span>
    </div>
</body>
</html>
